<div class="row" style="padding-top: 10px">
  <div class="col-3">
    <control-datepicker
      [label]="'Дата от'"
      [control]="form.controls['date_start']">
    </control-datepicker>
  </div>
  <div class="col-3">
    <control-datepicker
      [label]="'Дата до'"
      [control]="form.controls['date_end']">
    </control-datepicker>
  </div>
  <div class="col-2" style="padding-top: 27px">
    <button (click)="setFilter()" class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-save"></i>Установить</button>
  </div>
  <div class="col-2" style="padding-top: 27px">
    <button  (click)="resetFilter()" class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-trash"></i>Сбросить</button>
  </div>
</div>
